<div class="container">
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>Admin Page</h2>
      <a class="pure-button pure-button-secondary" href="#/" ng-click="logout()">Sign Out</a>
      <h3>Object Generator</h3>
      <form class="pure-form" ng-submit="submit()">
        <input type="text" ng-model="formData.name" name="text" placeholder="Bear Name">
        <input class="pure-button" type="submit" id="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <h3>Players</h3>
      <table class="pure-table">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Location
            </th>
            <th>
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players" ng-model="players">
            <td>
              {{player._id}}
            </td>
            <td>
              {{player.x}},{{player.y}}
            </td>
            <td>
              <form class="pure-form" ng-submit="delete(player._id)">
                <input class="pure-button pure-button" type="submit" id="submit" value="Delete">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <form class="pure-form" action="/api/bears" method="get">
        <input class="pure-button pure-button" type="submit" value="JSON">
      </form>
    </div>
  </div>
</div>